<div class="flex flex-col sm:flex-row sm:gap-8">
  <div class="flex flex-col">
    <app-week-date-picker (dateUpdated)="dateRangeSelected($event)"></app-week-date-picker>

    <mat-form-field>
      <mat-label>Select type</mat-label>
      <mat-select (selectionChange)="breakdownTypeSelected()" [formControl]="selectedBreakdownValue">
        <mat-select-trigger>
          {{ 'DASHBOARD.BREAKDOWN.' + selectedBreakdownValue.value.option | translate }}
          <span *ngIf="selectedBreakdownValue.value.group === 'EXERCISE_CATEGORY'" class="additional-selection">
              (by Category)
          </span>
          <span *ngIf="selectedBreakdownValue.value.group === 'EXERCISE_NAME'" class="additional-selection">
              (by Exercise)
          </span>
        </mat-select-trigger>
        <mat-optgroup [label]="'DASHBOARD.BREAKDOWN.EXERCISE_CATEGORY' | translate">
          <mat-option *ngFor="let option of breakdownOptions" [value]="{ option: option, group: 'EXERCISE_CATEGORY' }">
            {{ 'DASHBOARD.BREAKDOWN.' + option | translate }}
          </mat-option>
        </mat-optgroup>
        <mat-optgroup [label]="'DASHBOARD.BREAKDOWN.EXERCISE_NAME' | translate">
          <mat-option *ngFor="let option of breakdownOptions" [value]="{ option: option, group: 'EXERCISE_NAME' }">
            {{ 'DASHBOARD.BREAKDOWN.' + option | translate }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="grow flex justify-center max-h-80">
      <canvas id="breakdown"  aria-label="Hello ARIA World" role="img"></canvas>
  </div>
</div>
