.dialog-content-container {
  overflow-y: hidden;
}

:host ::ng-deep .mat-horizontal-content-container {
  max-height: 40vh;
  overflow-y: auto;
  padding: 0 24px 0px 24px;
}

.action-buttons {
  position: sticky;
  bottom: 5px;
  z-index: 1000;
  background-color: white;
}

