<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
></ngx-spinner>

<div class="flex flex-col gap-2">

  <app-page-header-layout>
    <div headerTitle>
      <div>{{ 'TITLES.workouts' | translate }}</div>
      <div class="flex-grow text-sm">{{ selectedDate().format('dddd') }}</div>
      <div class="flex-grow text-sm">{{ selectedDate().format('LL') }}</div>
    </div>

    <div headerActions>
      <button mat-mini-fab matTooltip="{{'BUTTON.add-workout' | translate}}" (click)="openAddWorkoutExerciseDialog()">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="{{'BUTTON.delete-workouts' | translate}}" (click)="deleteWorkout()">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab (click)="today()">
        <mat-icon>today</mat-icon>
      </button>
    </div>
  </app-page-header-layout>

  <div>

    <app-day-select [inputDate]="selectedDate()" (dateChanged)="getWorkoutsForDay($event)"></app-day-select>

    <div *ngIf="workout; else noWorkouts">
      <app-workout-exercise
        *ngFor="let workoutExercise of workout.workoutExercises"
        [workoutExercise]="workoutExercise"
        (workoutExerciseDeleted)="onWorkoutExerciseDeleted($event)">
      </app-workout-exercise>
    </div>

    <ng-template #noWorkouts>
      <div class="text-center">{{ 'TEXTS.no-workouts' | translate }}</div>
    </ng-template>

  </div>
</div>
