<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin"
  [fullScreen]="true"
></ngx-spinner>

<div class="flex flex-col gap-2">

  <app-page-header-layout>
    <div headerTitle>
      <div>{{ 'TITLES.workouts' | translate }}</div>
      <div class="flex-grow text-sm">{{ selectedDate().format(DATE_FORMATS.weekday) }}</div>
      <div class="flex-grow text-sm">{{ selectedDate().format(DATE_FORMATS.display) }}</div>
    </div>

    <div headerActions>
      <button mat-mini-fab matTooltip="{{'BUTTON.add-workout' | translate}}" (click)="openAddWorkoutExerciseDialog()">
        <mat-icon>add</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="{{'WORKOUTS.apply-training' | translate}}" [matMenuTriggerFor]="templateMenu">
        <mat-icon>fitness_center</mat-icon>
      </button>
      <mat-menu #templateMenu="matMenu">
        @for (training of trainings(); track training) {
          <button mat-menu-item (click)="applyTemplate(training)">
            {{ training.name }}
          </button>
        }
        @if (!trainings().length) {
          <button mat-menu-item disabled>
            {{ 'WORKOUTS.no-templates' | translate }}
          </button>
        }
      </mat-menu>

      <button mat-mini-fab matTooltip="{{'BUTTON.import-fit' | translate}}" (click)="fitFileInput.click()">
        <mat-icon>upload_file</mat-icon>
      </button>
      <input #fitFileInput type="file" accept="*/*" class="hidden" (change)="onFitFileSelected($event)">

      <button mat-mini-fab matTooltip="{{'BUTTON.delete-workouts' | translate}}" (click)="deleteWorkout()">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-mini-fab matTooltip="{{'HOME.today-workout' | translate}}" (click)="today()">
        <mat-icon>today</mat-icon>
      </button>
    </div>
  </app-page-header-layout>

  <div appSwipe (swipeLeft)="nextDay()" (swipeRight)="previousDay()">

    <app-day-select [inputDate]="selectedDate()" (dateChanged)="getWorkoutsForDay($event)"></app-day-select>

    @if (dayLoading()) {
      <div class="flex flex-col items-center gap-4 py-4">
        <app-skeleton class="h-48 w-80 sm:w-96"></app-skeleton>
        <app-skeleton class="h-48 w-80 sm:w-96"></app-skeleton>
      </div>
    } @else if (currentWorkout(); as currentWorkout) {
      <div class="flex justify-center px-3 pb-2">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-[352px] max-w-full sm:w-96">
          <mat-label>{{ 'WORKOUTS.note' | translate }}</mat-label>
          <input matInput [formControl]="noteControl" (blur)="saveNote()" (keydown.enter)="saveNote()">
        </mat-form-field>
      </div>
      <div>
        @for (workoutExercise of currentWorkout.workoutExercises; track workoutExercise.id) {
          <workout-exercise
            [workoutDate]="currentWorkout.date"
            [workoutExercise]="workoutExercise"
            (workoutExerciseUpdated)="onWorkoutExerciseUpdated()">
          </workout-exercise>
        }
      </div>
    } @else {
      <app-empty-state icon="fitness_center" [message]="'TEXTS.no-workouts' | translate">
        <div class="flex flex-wrap justify-center gap-2">
          <button mat-flat-button color="primary" (click)="openAddWorkoutExerciseDialog()">
            <mat-icon>add</mat-icon>
            {{ 'BUTTON.add-workout' | translate }}
          </button>
          <button mat-stroked-button (click)="copyLastWorkout()">
            <mat-icon>content_copy</mat-icon>
            {{ 'BUTTON.copy-last-workout' | translate }}
          </button>
        </div>
      </app-empty-state>
    }

  </div>
</div>
