<div class="flex flex-col mt-4">

  @for (set of workoutSetsFormArray.controls; track set; let setIndex = $index) {
    <div
      class="flex flex-row justify-center gap-2">
      @for (formControl of config?.formControls; track formControl) {
        <mat-form-field>
          <input matInput type="number" [formControl]="getWorkoutSetFormControl(formControl.name, setIndex)" min="0"
            [step]="formControl.step">
            <span class="text-xs" matTextSuffix>{{ formControl.unit }}</span>
          </mat-form-field>
        }
        @if (form.enabled) {
          <button mat-icon-button matTooltip="Remove Set"
            (click)="workoutSetsFormArray.removeAt(setIndex)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        }
      </div>
    }

    @if (form.enabled) {
      <div class="flex flex-row justify-end mt-2">
        <button mat-icon-button matTooltip="Add Set" (click)="addNewWorkoutSet()">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
      </div>
    }

  </div>
