mat-button-toggle {
  height: 40px;
}

.mat-icon-button {
  height:36px !important;
  width:36px !important;
  line-height: 20px !important;
}

.mat-slide-toggle {
  margin-right: 10px;
  margin-left: 10px;
}

.padding-20 {
  padding-bottom: 20px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.app-view {
  height: 100vh;
  width: 100vw;
}


