<app-page-header-layout>
  <div headerTitle>
    {{ 'TITLES.new-training' | translate }}
  </div>
  <div headerActions>
    <button mat-icon-button matTooltip="{{'BUTTON.close' | translate}}" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</app-page-header-layout>

<mat-dialog-content>
  <form [formGroup]="form">
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="trainingName">
        <mat-error>{{ 'ERROR.required.name' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Start day</mat-label>
        <input matInput [matDatepicker]="datePicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Schedule day</mat-label>
        <mat-select formControlName="trainingDay">
          <mat-option *ngFor="let day of weekDays" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Training time</mat-label>
        <input matInput type="time" formControlName="trainingTime">
      </mat-form-field>

      <mat-checkbox formControlName="scheduled">Scheduled</mat-checkbox>

      <mat-accordion multi class="mt-2">
        <mat-expansion-panel *ngFor="let trainingExercise of trainingExercises.controls; let i = index">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ trainingExercise.get('exercise').value?.name }}</mat-panel-title>
            <mat-panel-description>
              {{ (trainingExercise.get('workoutSets')?.value || trainingExercise.get('trainingSets').value)?.length || 0 }}
              {{ 'HOME.sets' | translate }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="flex flex-row justify-end">
            <button type="button" mat-icon-button matTooltip="{{ 'BUTTON.edit' | translate }}"
                    (click)="trainingExercise.enabled ? trainingExercise.disable() : trainingExercise.enable()">
              <mat-icon>edit</mat-icon>
            </button>
            <button type="button" mat-icon-button matTooltip="{{ 'BUTTON.delete' | translate }}"
                    (click)="trainingExercises.removeAt(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

          <workout-sets [form]="trainingExercise" [workoutSets]="trainingExercise.get('trainingSets').value">
          </workout-sets>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </form>
</mat-dialog-content>

<div class="flex flex-row justify-end items-center">
  <button mat-icon-button (click)="addWorkoutExerciseToTraining()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>
    {{ 'BUTTON.cancel' | translate }}
  </button>
  <button mat-raised-button (click)="saveTraining()" [disabled]="!form.valid" color="primary">
    {{ 'BUTTON.save' | translate }}
  </button>
</mat-dialog-actions>
