<div class="h-full">
  <mat-tab-group (selectedIndexChange)="selectedTab($event)" [selectedIndex]="selectedTabIndex()">
    <mat-tab label="Charts">
      <div class="flex flex-col justify-between gap-2">
        <form [formGroup]="showChartsFormGroup">
          <div class="flex flex-row" formArrayName="showChartsCheckboxes">
            @for (checkBoxControl of checkboxControls; track checkBoxControl; let i = $index) {
              <div class="mr-4">
                <input class="mr-1" type="checkbox" [formControl]="checkBoxControl"/>
                <label>{{ "LABELS." + checkboxLabelKeys[i] | translate }}</label>
              </div>
            }
          </div>
        </form>
      </div>

      <div class="flex flex-col items-center">
        @if (tanitaWeightData(); as tanitaWeightData) {
          <ngx-charts-line-chart
            [@.disabled]="true"
            [view]="[900, 500]"
            [title]="'Weight'"
            [trimXAxisTicks]="true"
            [animations]="false"
            [results]="tanitaWeightData"
            [legend]="false"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="'Date'"
            [yAxisLabel]="'Weight'"
            [autoScale]="true"
            [timeline]="true"
            [xAxisTickFormatting]="xAxisFormat"
            (select)="onSelect($event)"
            >
            <ng-template #tooltipTemplate let-model="model">
              <div class="p-1 text-xs">
                <div>{{ xAxisFormat(model?.name) }}</div>
                <div class="font-semibold">{{ model?.value }} kg</div>
              </div>
            </ng-template>
            <ng-template #seriesTooltipTemplate let-model="model">
              <div class="p-1 text-xs text-left">
                <div>{{ xAxisFormat(model?.[0]?.name) }}</div>
                @for (item of model; track item.series) {
                  <div><span [style.color]="item.color">●</span> <span class="font-semibold">{{ item.value }} kg</span></div>
                }
              </div>
            </ng-template>
          </ngx-charts-line-chart>
        }
      </div>
    </mat-tab>

    <mat-tab label="Tables">
      <app-measurements-table [data]="tableData()" [numericColumns]="numericColumns" [units]="units"></app-measurements-table>
    </mat-tab>

    <mat-tab label="Details">
      @if (selectedTabIndex() === 2) {
        <app-measurement-details
          [scaleType]="selectedScaleType">
        </app-measurement-details>
      }
    </mat-tab>

    <mat-tab>
      <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="ball-spin"
        [fullScreen]="true"
      ></ngx-spinner>
      <ng-template mat-tab-label>
        <button mat-icon-button matTooltip="{{ 'WEIGHT.update' | translate }}" (click)="updateTanitaData()">
          <mat-icon>update</mat-icon>
        </button>
        <button mat-icon-button matTooltip="{{ 'WEIGHT.report' | translate }}">
          <mat-icon>preview</mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
