<div class="flex flex-col">
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin" [fullScreen]="true"></ngx-spinner>
<mat-tab-group (selectedIndexChange)="selectedTab($event)" [selectedIndex]="selectedTabIndex">
  <mat-tab label="Charts">
    <div class="flex flex-col items-center w-full py-4">
      <mat-button-toggle-group class="range-toggle mb-4" [value]="selectedRangeDays" (change)="onRangeChange($event.value)">
        <mat-button-toggle *ngFor="let range of ranges" [value]="range.days">{{ range.label }}</mat-button-toggle>
      </mat-button-toggle-group>

      <ng-container *ngFor="let chart of charts">
        <h3 class="chart-title">{{ chart.title }}</h3>
        <app-ngx-line-chart class="w-4/5" [chartData]="viewData[chart.key]" [showDots]="selectedRangeDays !== 0"></app-ngx-line-chart>
      </ng-container>
    </div>
  </mat-tab>

  <mat-tab label="Tables">
    <app-measurements-table [data]="tableData" [numericColumns]="numericColumns" [units]="units"></app-measurements-table>
  </mat-tab>

  <mat-tab label="Details">
<!--    <app-measurement-details [measurementData]="measurementData"-->
<!--                             [date]="measurementDate"-->
<!--                             [scaleType]="selectedScaleType">-->
<!--    </app-measurement-details>-->
  </mat-tab>

</mat-tab-group>

<button mat-fab class="update-fab" color="primary" matTooltip="{{'WEIGHT.update' | translate}}"
        (click)="redirectToWithingsAuthUrl()">
  <mat-icon>update</mat-icon>
</button>
</div>
