<div>
  <input hidden="hidden" #file type="file" accept='image/*' (change)="preview(file.files)"/>
  <button mat-icon-button (click)="file.click()">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  @if (message()) {
    <span class="text-red-700">{{ message() | translate }}</span>
  }

  @if (loading()) {
    <div class="flex justify-center py-6">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  } @else if (imgURL(); as imgURL) {
    <img [src]="imgURL" height="200" [alt]="'LABELS.image-preview' | translate">
  }
</div>
