<div class="cal-header">
  <button mat-icon-button type="button" (click)="previousMonth()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span class="month-label">{{ month.format('MMMM YYYY') }}</span>
  <button mat-icon-button type="button" (click)="nextMonth()">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<div class="cal-grid">
  @for (d of weekdayLabels; track d) {
    <span class="weekday">{{ d }}</span>
  }
  @for (week of weeks(); track week) {
    @for (day of week; track day) {
      <button type="button" class="day"
        [class.out]="!day.inMonth"
        [class.today]="day.isToday"
        [class.has-workout]="day.hasWorkout"
        (click)="openDay(day)">
        {{ day.date.date() }}
      </button>
    }
  }
</div>
