<svg class="chart-defs" aria-hidden="true">
  <defs>
    <marker id="ngx-line-dot" markerWidth="8" markerHeight="8" refX="4" refY="4" markerUnits="userSpaceOnUse">
      <circle cx="4" cy="4" r="3" fill="context-stroke"></circle>
    </marker>
  </defs>
</svg>

<ngx-charts-line-chart
  [@.disabled]="true"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [animations]="animations"
  [timeline]="timeline"
  [autoScale]="autoScale"
  [xAxisTicks]="xAxisTicks"
  [xScaleMin]="xScaleMin"
  [xAxisTickFormatting]="xAxisFormat"
  [curve]="curve"
  [scheme]="scheme"
  [results]="chartData"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate()"
>
  <ng-template #tooltipTemplate let-model="model">
    <div class="p-1 text-xs">
      <div>{{ tooltipDate(model?.name) }}</div>
      <div class="font-semibold">{{ model?.series }}: {{ model?.value }}</div>
    </div>
  </ng-template>
  <ng-template #seriesTooltipTemplate let-model="model">
    <div class="p-1 text-xs text-left">
      <div>{{ tooltipDate(model?.[0]?.name) }}</div>
      @for (item of model; track item.series) {
        <div><span [style.color]="item.color">●</span> {{ item.series }}: <span class="font-semibold">{{ item.value }}</span></div>
      }
    </div>
  </ng-template>
</ngx-charts-line-chart>
