<div class="flex flex-row justify-center items-baseline gap-2">
  <div>
    <button mat-mini-fab color="success" (click)="decrement()"><mat-icon>remove</mat-icon></button>
  </div>
  <mat-form-field class="max-w-28">
    <mat-label>{{ label }}</mat-label>
    <input matInput [formControl]="formControl" type="number" min="{{ minimumValue }}">
    <span matSuffix>{{suffix}}</span>
    <mat-error *ngIf="formControl.invalid">{{ errorMessage }}</mat-error>
  </mat-form-field>
  <div>
    <button mat-mini-fab color="warn" (click)="increment()"><mat-icon>add</mat-icon></button>
  </div>
</div>
