<h1 mat-dialog-title>{{ 'TITLES.edit-exercise' | translate }}</h1>

<mat-dialog-content>
  <form [formGroup]="editExerciseForm">
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>{{ 'EXERCISE.name' | translate }}</mat-label>
        <input matInput type="text" placeholder="{{ exercise.name }}" formControlName="name">
        <mat-error *ngIf="editExerciseForm.controls['name'].invalid">{{ 'ERROR.required.name' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'EXERCISE.category' | translate }}</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of exerciseCategories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'EXERCISE.type' | translate }}</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of exerciseTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <app-image-preview (selectedImage)="onSelectedImage($event)"></app-image-preview>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">{{ 'BUTTON.cancel' | translate }}</button>
  <button mat-button (click)="saveEditedExercise()">{{ 'BUTTON.save' | translate }}</button>
</div>
