<mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>
  <mat-step> <!-- STEP 1 -->
    <ng-template matStepLabel>{{'WORKOUTS.select-category' | translate}}</ng-template>
    <mat-action-list>
      @for (exerciseCategory of exerciseCategories(); track exerciseCategory) {
        <button mat-list-item matStepperNext
          (click)="selectCategory(exerciseCategory)">
          {{exerciseCategory}}
        </button>
      }
    </mat-action-list>
  </mat-step>
  <mat-step> <!-- STEP 2 -->
    <ng-template matStepLabel>{{"WORKOUTS.select-exercise" | translate}}</ng-template>
    <mat-action-list>
      @for (exercise of exercisesBySelectedCategory(); track exercise) {
        <button mat-list-item (click)="setSelectedExercise(exercise)"
                appLongPress (longPress)="showExerciseImage(exercise)">
          <div class="flex flex-row items-center gap-2">
            <img [src]="IMAGE_BASE_URL + exerciseHelper.getExerciseIconPath(exercise)"
                 width="32" height="32" class="rounded" alt="">
            <span class="text-wrap">{{ exercise.name }}</span>
          </div>
        </button>
      }
    </mat-action-list>
    <div class="flex flex-row justify-end items-center">
      <button mat-button matStepperPrevious>{{'BUTTON.back' | translate}}</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
