<app-page-header-layout>
  <div headerTitle>
    {{'TITLES.trainings' | translate}}
  </div>
  <div headerActions>
    <button mat-mini-fab matTooltip="{{'BUTTON.add-training' | translate}}" (click)="addTraining()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</app-page-header-layout>

<div class="flex flex-col items-center px-3 py-4">
  <form [formGroup]="form" class="w-full max-w-2xl">
    <div formArrayName="trainingPlans">
      @if (loading()) {
        <div class="flex flex-col gap-3">
          <app-skeleton class="h-14 w-full"></app-skeleton>
          <app-skeleton class="h-14 w-full"></app-skeleton>
          <app-skeleton class="h-14 w-full"></app-skeleton>
        </div>
      }
      @if (trainingPlans.controls.length === 0 && !loading()) {
        <app-empty-state icon="event_note" [message]="'TEXTS.no-training-plans' | translate">
          <button mat-flat-button color="primary" (click)="addTraining()">
            <mat-icon>add</mat-icon>
            {{ 'BUTTON.add-training' | translate }}
          </button>
        </app-empty-state>
      }
      <mat-accordion class="trainings-accordion">
        @for (trainingPlan of trainingPlans.controls; track trainingPlan; let trainingIndex = $index) {
          <mat-expansion-panel [formGroup]="asFormGroup(trainingPlan)"
            (afterExpand)="getWorkoutsForTraining(trainingIndex)">
            <mat-expansion-panel-header [ngClass]="{'active-training': trainingPlan.value.scheduled}" >
              <mat-panel-title>
                {{trainingPlan.value.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{ formatDate(trainingPlan.value.startDate) }} {{ trainingPlan.value.trainingDay }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <div class="flex flex-row justify-center sm:hidden">
                @if (form.dirty) {
                  <button mat-icon-button color="primary" (click)="updateTraining(trainingPlan.value.id, trainingPlan)">
                    <mat-icon>check</mat-icon>
                  </button>
                }
                <button mat-icon-button color="primary" (click)="trainingPlan.enabled ? trainingPlan.disable() : trainingPlan.enable()">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="deleteTraining(trainingPlan)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="addExerciseToTraining(trainingIndex)">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="logTraining(trainingPlan)">
                  <mat-icon>check_box</mat-icon>
                </button>
              </div>
              <div class="flex flex-col">
                <mat-form-field>
                  <input matInput placeholder="Training name" formControlName="name">
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Schedule day</mat-label>
                  <mat-select formControlName="trainingDay">
                    @for (day of weekDays; track day) {
                      <mat-option [value]="day">
                        {{day}}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Start day</mat-label>
                  <input matInput [matDatepicker]="datePicker" formControlName="startDate">
                  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                  <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Training time</mat-label>
                  <input matInput type="time" formControlName="trainingTime">
                </mat-form-field>
                <mat-checkbox [formControl]="scheduledControl(trainingPlan)">Scheduled</mat-checkbox>
              </div>
              @if (workoutsLoading()) {
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              }
              <mat-accordion multi>
                @for (trainingExercise of trainingExercisesOf(trainingPlan).controls; track trainingExercise; let i = $index) {
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>{{ trainingExercise.get('exercise').value?.name }}</mat-panel-title>
                      <mat-panel-description>
                        {{ (trainingExercise.get('workoutSets')?.value || trainingExercise.get('trainingSets').value)?.length || 0 }}
                        {{ 'HOME.sets' | translate }}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="flex flex-row justify-end">
                      <button type="button" mat-icon-button matTooltip="{{ 'BUTTON.edit' | translate }}"
                        (click)="trainingExercise.enabled ? trainingExercise.disable() : trainingExercise.enable()">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button type="button" mat-icon-button matTooltip="{{ 'BUTTON.delete' | translate }}"
                        (click)="removeTrainingExercise(trainingPlan, i)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                    <workout-sets [form]="asFormGroup(trainingExercise)" [workoutSets]="trainingExercise.get('trainingSets').value"></workout-sets>
                  </mat-expansion-panel>
                }
              </mat-accordion>
              <mat-action-row class="hidden sm:flex">
                @if (form.dirty) {
                  <button mat-button color="primary" (click)="updateTraining(trainingPlan.value.id, trainingPlan)">Save training</button>
                }
                <button mat-button color="primary" (click)="trainingPlan.enabled ? trainingPlan.disable() : trainingPlan.enable()">
                  Edit training
                </button>
                <button mat-button color="primary" (click)="deleteTraining(trainingPlan)">Delete training</button>
                <button mat-button color="primary" (click)="addExerciseToTraining(trainingIndex)">Add workout</button>
                <button mat-button color="primary" (click)="logTraining(trainingPlan)">Log training</button>
              </mat-action-row>
            </ng-template>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </form>
</div>
