<div *ngIf="workout">
  <form [formGroup]="workoutForm">
    <div class="flex flex-col gap-4" formArrayName="exercises">
      <mat-card *ngFor="let workout of workoutExercises.controls; let workoutIndex = index">
        <div [formGroupName]="workoutIndex">
          <mat-card-subtitle class="card-title">
            <div class="flex flex-row justify-start items-center">
              <div>
                {{ workout.value.name }}
              </div>
              <button *ngIf="workout.enabled" mat-icon-button matTooltip="{{'BUTTON.save' | translate}}"
                      (click)="saveWorkout()" color="primary">
                <mat-icon>check</mat-icon>
              </button>
              <button mat-icon-button matTooltip="{{'BUTTON.edit' | translate}}"
                      (click)="workout.disabled ? workout.enable() : workout.disable()">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="{{'BUTTON.delete' | translate}}"
                      (click)="deleteWorkout(workout.value.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
            <div class="flex flex-col" formArrayName="workoutSets">
              <div class="flex flex-row justify-center items-center mt-2" *ngIf="workout.enabled">
                <div *ngIf="withDate">
                  <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [formControl]="workout.getRawValue()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <span></span>
                <div *ngIf="workout.enabled">
                  <button mat-icon-button matTooltip="Add Set">
                    <mat-icon>add_circle_outline</mat-icon>
                  </button>
                </div>
              </div>

              <div *ngFor="let set of workoutSets(workoutIndex).controls let setIndex = index">
                {{ set | json }}
                <div [formGroupName]="setIndex">
                  <div [ngSwitch]="workout.value.type">
                    <div *ngSwitchCase="'WEIGHTED_REPS'" class="flex flex-row justify-center gap-4">
                      <div>
                        <mat-form-field>
                          <input matInput type="number" formControlName="weight" min="0" step="2.5">
                          <span matSuffix>kg</span>
                        </mat-form-field>
                      </div>
                      <div >
                        <mat-form-field>
                          <input matInput type="number" formControlName="reps" min="0" step="1">
                          <span matSuffix>reps</span>
                        </mat-form-field>
                      </div>
                      <div *ngIf="workout.enabled">
                        <button mat-icon-button matTooltip="Remove Set">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div *ngSwitchCase="'REPS'" class="flex flex-row justify-center gap-4">
                      <div>
                        <mat-form-field>
                          <input matInput type="number" formControlName="reps" min="0" step="1">
                          <span matSuffix>reps</span>
                        </mat-form-field>
                      </div>
                      <div *ngIf="workout.enabled">
                        <button mat-icon-button matTooltip="Remove Set">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div *ngSwitchCase="'TIME'" class="flex flex-row justify-center gap-4">
                      <div>
                        <mat-form-field>
                          <input matInput type="number" formControlName="durationMin" min="0" step="1">
                          <span matSuffix>min</span>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field>
                          <input matInput type="number" formControlName="durationSec" min="0" step="1">
                          <span matSuffix>sec</span>
                        </mat-form-field>
                      </div>
                      <div *ngIf="workout.enabled">
                        <button mat-icon-button matTooltip="Remove Set">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </form>
</div>
