<div class="login-box">
  <mat-card class="max-w-96 px-8">
    <mat-card-content>
      <form class="flex flex-col items-center" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="mb-3">{{'TITLES.login-title' | translate}}</h2>
        <mat-form-field class="full-width-input">
          <mat-label>{{'USER.username' | translate}}</mat-label>
          <input matInput [placeholder]="'USER.username' | translate" formControlName="username" required>
          <mat-error *ngIf="isFieldInvalid('username')">
            {{'ERROR.required.username' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <mat-label>{{'USER.password' | translate}}</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" [placeholder]="'USER.password' | translate" formControlName="password" required>
          <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="isFieldInvalid('password')">
            {{'ERROR.required.password' | translate}}
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            type="ball-spin"
            [fullScreen]="true"
          ></ngx-spinner>
          {{'BUTTON.login' | translate}}
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
