<mat-form-field appearance="outline" subscriptSizing="dynamic" class="w-full">
  <mat-label>Select week</mat-label>
  <mat-date-range-input [formGroup]="range" [rangePicker]="weekPicker">
    <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="startDateSelected($event)">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matIconSuffix [for]="weekPicker"></mat-datepicker-toggle>
  <mat-date-range-picker #weekPicker></mat-date-range-picker>
</mat-form-field>
