.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

mat-tab-body-wrapper {
  height: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-column-date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 110px !important;
  width: 100px !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  width: 120px;
}
