<div class="flex flex-col gap-2 mt-4">

  <div class="flex flex-row justify-center gap-2 mx-4">
    <div>
      <div>{{ 'TITLES.workouts' | translate }}</div>
      <div class="flex-grow text-sm">{{ selectedDate().format('LL') }}</div>
    </div>

    <span class="flex-auto"></span>

    <div>
      <button mat-mini-fab matTooltip="{{'BUTTON.add-workout' | translate}}" (click)="openAddWorkoutDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div>
      <button mat-mini-fab matTooltip="{{'BUTTON.delete-workouts' | translate}}" (click)="deleteAllWorkouts()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div>
      <button mat-mini-fab (click)="today()">
        <mat-icon>today</mat-icon>
      </button>
    </div>
  </div>

  <div>

    <app-day-select [inputDate]="selectedDate()" (dateChanged)="getWorkoutsForDay($event)"></app-day-select>

    <div *ngIf="loading">
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
    <div *ngIf="workout && !loading">
      <h2>No workouts today.</h2>
    </div>

    <app-workouts-handler [workout]="workout"></app-workouts-handler>

  </div>
</div>
