@use "@angular/material" as mat;
@include mat.core();

// LIGHT THEME
$angular-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$angular-warn: mat.define-palette(mat.$red-palette, A200, A100, A400);
$angular-success: mat.define-palette(mat.$green-palette, 500, 100, 900);

$angular-default-theme: mat.define-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
        success: $angular-success,
      ),
    )
);

// DARK THEME
$angular-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
        success: $angular-success,
      ),
    )
);

$danger-success: (
  success: $angular-success,
  danger: $angular-warn,
);


.dark-theme {
  @include mat.all-component-colors($angular-dark-theme);
}

@include mat.all-component-themes($angular-default-theme);
//@include mat.angular-material-theme($angular-default-theme);

//@use '@angular/material' as mat;
//
//@include mat.core();
//
//// Define a dark theme
//$dark-theme: mat.define-dark-theme((
//  color: (
//    primary: mat.define-palette(mat.$cyan-palette),
//    accent: mat.define-palette(mat.$blue-grey-palette),
//  ),
//  // Only include `typography` and `density` in the default dark theme.
//  typography: mat.define-typography-config(),
//  density: 0,
//));
//
//// Define a light theme
//$light-theme: mat.define-light-theme((
//  color: (
//    primary: mat.define-palette(mat.$cyan-palette),
//    accent: mat.define-palette(mat.$pink-palette),
//  ),
//));
//
//// Apply the dark theme by default
//@include mat.core-theme($dark-theme);
//@include mat.button-theme($dark-theme);
//
//// Apply the light theme only when the user prefers light themes.
//@media (prefers-color-scheme: light) {
//  // Use the `-color` mixins to only apply color styles without reapplying the same
//  // typography and density styles.
//  @include mat.core-color($light-theme);
//  @include mat.button-color($light-theme);
//}
