<div class="flex flex-row items-center">

  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        <app-day-select (dateChanged)="onDaySelected($event)"></app-day-select>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list role="list">
        @for (measurementTransformingInput of measurementDetails; track measurementTransformingInput; let i = $index) {
          <mat-list-item>
            <div class="flex flex-row flex-nowrap gap-8 justify-start w-96">
              <div>
                <strong>{{ measurementTransformingInput.name }}</strong>
              </div>
              <div>
                <div class="measurementTransformingInput-value">
                  {{ measurementTransformingInput.value }}
                </div>&nbsp;
                <span class="measurementTransformingInput-unit">{{ measurementTransformingInput.unit }}</span>
              </div>
              <div>
                <div class="measurementTransformingInput-value">
                  {{ measurementTransformingInput.secondValue }}
                </div>&nbsp;
                <span class="measurementTransformingInput-unit">{{ measurementTransformingInput.secondUnit }}</span>
              </div>
            </div>
            @if (i < measurementDetails.length - 1) {
              <mat-divider></mat-divider>
            }
          </mat-list-item>
        }
        @if (measurementDetails.length === 0) {
          <div>
            No data for this day.
          </div>
        }
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
