<mat-toolbar color="primary">
  <!--  MOBILE LAYOUT  -->
  <div class="flex flex-row justify-center basis-full lg:hidden">
    <button mat-icon-button (click)="sidenavToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="flex-1"></span>

    <div>
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
        <mat-icon>import_export</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="import()">{{ 'BUTTON.import' | translate }}</button>
      </mat-menu>
    </div>
    <div>
      <mat-slide-toggle (change)="themeService.setDarkTheme($event.checked)" matTooltip="Dark theme"></mat-slide-toggle>
    </div>
    <div class="btn-group flex justify-center items-center" role="group">
      <button mat-icon-button type="button">
        <mat-icon svgIcon="cz" (click)="selectionChanged('cz')"></mat-icon>
      </button>
      <button mat-icon-button type="button">
        <mat-icon svgIcon="en" (click)="selectionChanged('en')"></mat-icon>
      </button>
    </div>

    <button mat-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'BUTTON.logout' | translate }}</span>
    </button>
  </div>

  <!--  DESKTOP LAYOUT  -->
  <div class="hidden md:flex md:flex-row md:items-center md:justify-center md:basis-full">
    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <button mat-button routerLinkActive routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLinkActive routerLink="/weight">
      {{ 'WEIGHT.weight' | translate }}
    </button>
    <button mat-button routerLinkActive routerLink="/exercises">
      {{ 'TITLES.exercises' | translate }}
    </button>
    <button mat-button routerLinkActive routerLink="/workouts">
      {{ 'WORKOUTS.workouts' | translate }}
    </button>
    <button mat-button routerLinkActive routerLink="/trainings">
      {{ 'BUTTON.trainings' | translate }}
    </button>
    <button mat-button routerLinkActive routerLink="/dashboard">
      {{ 'BUTTON.dashboard' | translate }}
    </button>

    <span class="flex-1"></span>

    <div>
      <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
        <mat-icon>import_export</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="import()">{{ 'BUTTON.import' | translate }}</button>
      </mat-menu>
    </div>
    <div>
      <mat-slide-toggle (change)="themeService.setDarkTheme($event.checked)" matTooltip="Dark theme"></mat-slide-toggle>
    </div>
    <div class="btn-group items-center justify-center" role="group">
      <button mat-icon-button type="button" (click)="selectionChanged('cz')">
        <mat-icon svgIcon="cz"></mat-icon>
      </button>
      <button mat-icon-button type="button" (click)="selectionChanged('en')">
        <mat-icon svgIcon="en"></mat-icon>
      </button>
    </div>

    <button mat-button routerLink="/login" routerLinkActive="active" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'BUTTON.logout' | translate }}</span>
    </button>
  </div>
</mat-toolbar>
