<mat-toolbar color="primary">

  <!--  MOBILE LAYOUT  -->
  <div class="flex flex-row items-center basis-full md:hidden">
    <span class="text-lg font-semibold">MyWorkouts</span>
    <span class="flex-1"></span>

    <button mat-icon-button type="button" (click)="toggleTheme()"
            matTooltip="{{ 'BUTTON.toggle-theme' | translate }}">
      <mat-icon>{{ themeService.isDarkThemeValue ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>

    <button mat-icon-button type="button" [matMenuTriggerFor]="overflowMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-icon-button routerLink="/login" (click)="logOut()"
            matTooltip="{{ 'BUTTON.logout' | translate }}">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

  <!--  DESKTOP LAYOUT  -->
  <div class="hidden md:flex md:flex-row md:items-center md:basis-full">
    <button mat-button routerLinkActive="nav-active" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLinkActive="nav-active" routerLink="/weight">
      {{ 'WEIGHT.weight' | translate }}
    </button>
    <button mat-button routerLinkActive="nav-active" routerLink="/exercises">
      {{ 'TITLES.exercises' | translate }}
    </button>
    <button mat-button routerLinkActive="nav-active" routerLink="/workouts">
      {{ 'WORKOUTS.workouts' | translate }}
    </button>
    <button mat-button routerLinkActive="nav-active" routerLink="/trainings">
      {{ 'BUTTON.trainings' | translate }}
    </button>
    <button mat-button routerLinkActive="nav-active" routerLink="/dashboard">
      {{ 'BUTTON.dashboard' | translate }}
    </button>

    <span class="flex-1"></span>

    <button mat-icon-button type="button" (click)="toggleTheme()"
            matTooltip="{{ 'BUTTON.toggle-theme' | translate }}">
      <mat-icon>{{ themeService.isDarkThemeValue ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>

    <button mat-icon-button type="button" [matMenuTriggerFor]="overflowMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <button mat-button routerLink="/login" (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>{{ 'BUTTON.logout' | translate }}</span>
    </button>
  </div>

  <mat-menu #overflowMenu="matMenu">
    <button mat-menu-item (click)="import()">
      <mat-icon>import_export</mat-icon>
      <span>{{ 'BUTTON.import' | translate }}</span>
    </button>
    <button mat-menu-item (click)="selectionChanged('en')">
      <mat-icon svgIcon="en"></mat-icon>
      <span>English</span>
    </button>
    <button mat-menu-item (click)="selectionChanged('cz')">
      <mat-icon svgIcon="cz"></mat-icon>
      <span>Čeština</span>
    </button>
  </mat-menu>
</mat-toolbar>
