<app-page-header-layout>
  <div headerTitle>
    {{ 'TITLES.new-exercise'  | translate }}
  </div>
  <div headerActions>
    <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
  </div>
</app-page-header-layout>

<mat-dialog-content>
  <div [formGroup]="form" class="flex flex-col">
    <mat-form-field>
      <input matInput placeholder="{{'EXERCISE.name' | translate}}" formControlName="name" required>
      <mat-error *ngIf="form.get('name').invalid">{{'ERROR.required.exerciseName' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'EXERCISE.type' | translate}}</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let exerciseType of exerciseTypes" [value]="exerciseType">{{ exerciseType }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('type').invalid">{{'ERROR.required.exerciseType' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'EXERCISE.category' | translate}}</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let exerciseCategory of exerciseCategories" [value]="exerciseCategory">{{ exerciseCategory }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('category').invalid">{{'ERROR.required.exerciseCategory' | translate}}</mat-error>
    </mat-form-field>
    <app-image-preview (selectedImage)="selectedImage = $event"></app-image-preview>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="close()" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
